/*--------------------------------------- ** Section: Questionnaire test auditif;
 ----- -----------------------------------------*/
 body {
    margin: 0;
}
section {
    /* padding */
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
#questionnaire {
    background-color: #ebecee;
    color: black;
}
.questionnaire h3 {
    padding-bottom: 1em;
}
.stages {
    font-size: 0;
    text-align: justify;
}
.stages:after {
    content: '';
    display: inline-block;
    font-size: 0;
    text-align: justify;
    width: 100%;
}
.stages label {
    background: #fff;
    border: solid 5px #c0c0c0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 50px;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.stages label:after {
    content: '\2713';
    color: #0cc39f;
    display: inline-block;
    font-size: 16px;
}
#one:checked ~ .stages label[for="one"], #two:checked ~ .stages label[for="two"], #three:checked ~ .stages label[for="three"], #four:checked ~ .stages label[for="four"], #five:checked ~ .stages label[for="five"] {
    border-color: #457ace;
}
#one:checked ~ .stages label, #two:checked ~ .stages label[for="one"] ~ label, #three:checked ~ .stages label[for="two"] ~ label, #four:checked ~ .stages label[for="three"] ~ label, #five:checked ~ .stages label[for="four"] ~ label {
    font-size: 1rem;
}
#one:checked ~ .stages label:after, #two:checked ~ .stages label[for="one"] ~ label:after, #three:checked ~ .stages label[for="two"] ~ label:after, #four:checked ~ .stages label[for="three"] ~ label:after, #five:checked ~ .stages label[for="four"] ~ label:after {
    display: none;
}
.progress > span {
    background: #c0c0c0;
    display: inline-block;
    height: 5px;
    transform: translateY(-1.8em);
    transition: 0.3s;
    width: 0;
    margin-left: 5px;
    float: left;
    clear: left;
}
#two:checked ~ .progress span {
    width: calc(98% / 4 * 1);
}
#three:checked ~ .progress span {
    width: calc(98% / 4 * 2);
}
#four:checked ~ .progress span {
    width: calc(98% / 4 * 3);
}
#five:checked ~ .progress span {
    width: calc(98% / 4 * 4);
}
.panels div {
    display: none;
}
#one:checked ~ .panels [data-panel="one"], #two:checked ~ .panels [data-panel="two"], #three:checked ~ .panels [data-panel="three"], #four:checked ~ .panels [data-panel="four"], #five:checked ~ .panels [data-panel="five"] {
    display: block;
}
/* Custom code for the demo */
.form {
    background: #fff;
    color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    width: 95%;
    margin: 1%;
    padding: 1em;
}
.form input {
    box-sizing: border-box;
    display: block;
    padding: 0.4em;
    margin-bottom: 1em;
    width: 100%;
}
.form input[name="stage"] {
    display: none;
}
.form .panels div {
    margin: 1em 0 0;
    padding: 1em 0 0;
}
.form .panels span {
    display: block;
}
.form .panels label {
    font-weight: bold;
}
.form .panels input {
    width: 24px;
    display: inline-block;
}
.form .panels input:checked + label:before {
    content: '✔';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    color: #09ad7e;
    transition: all 0.2s;
   /* on prévoit une animation */
}
.form button {
    background-color: #0cc39f;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin: 1em 0 0 0;
    padding: 1em;
}
#result {
    display: none;
    background: #fff;
    color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    margin: 4em;
    min-width: 480px;
    padding: 1em;
}
.error {
    display: none;
    color: #e30b1e;
}
