<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cardbox.css' %}">
</head>

<body>
    <section class="card card-1 postit-grasshopper">
        전공 필수
        <section>
            <input type="number" class="number" name="credit0" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-summersky">
        전공 일반
        <section>
            <input type="number" class="number" name="credit1" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-yellow">
        인문/사회
        <section>
            <input type="number" class="number" name="credit2" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-pinkwine">
        과학/기술
        <section>
            <input type="number" class="number" name="credit3" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-cloudymorning">
        글로벌
        <section>
            <input type="number" class="number" name="credit4" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-grasshopper">
        인성
        <section>
            <input type="number" class="number" name="credit5" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-summersky">
        리더십
        <section>
            <input type="number" class="number" name="credit6" value="0"/>
        </section>
    </section>
    <section class="card card-1 postit-yellow">
        일반교양
        <section>
            <input type="number" class="number" name="credit7" value="0"/>
        </section>
    </section>
    <script src="{% static 'js/timetable.js' %}"></script>
</body>