<head>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type-image/x-icon %}">
  </head>
  
  <body>
    <div class="site-wrap">
      {% include "navbar.html" %}
      <main>
        <header>
          <h1 class="title">시간표 생성</h1>
          <!-- <nav class="nav-tabs">
            <a href="#0" class="active">2020-봄학기<span>14</span></a>
            <a href="#0">2019-가을학기<span>24</span></a>
            <a href="#0">2019-봄학기</a>
          </nav> -->
          {% include "preference.html" %}
        </header>
  
      </main>
    </div>
    <script src="{% static 'js/navbar.js' %}"></script>
  </body>