<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/emptytimetable.css' %}">
</head>

<body>
    <table class="emptytimetable">
        <thead class="day_title">
            <tr>
                <th></th>
                <th>월요일</th>
                <th>화요일</th>
                <th>수요일</th>
                <th>목요일</th>
                <th>금요일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="hour">9:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">10:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">11:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">12:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">13:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">14:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">15:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">16:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
            <tr>
                <th class="hour">17:00</th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></th>
                <td class="class"></td>
            </tr>
        </tbody>
    </table>
    <script src="{% static 'js/timetable.js' %}"></script>
</body>