<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/emptytimetable.css' %}">
</head>

<body>
    <table class="emptytimetable">
        <thead class="day_title">
            <tr>
                <th></th>
                <th>월요일</th>
                <th>화요일</th>
                <th>수요일</th>
                <th>목요일</th>
                <th>금요일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="hour">9:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월9:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화9:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수9:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목9:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금9:00" ></td>
            </tr>
            <tr>
                <th class="hour">10:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월10:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화10:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수10:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목10:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금10:00" ></td>
            </tr>
            <tr>
                <th class="hour">11:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월11:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화11:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수11:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목11:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금11:00" ></td>
            </tr>
            <tr>
                <th class="hour">12:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월12:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화12:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수12:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목12:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금12:00" ></td>
            </tr>
            <tr>
                <th class="hour">13:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월13:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화13:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수13:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목13:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금13:00" ></td>
            </tr>
            <tr>
                <th class="hour">14:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월14:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화14:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수14:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목14:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금14:00" ></td>            </tr>
            <tr>
                <th class="hour">15:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월15:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화15:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수15:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목15:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금15:00" ></td>
            </tr>
            <tr>
                <th class="hour">16:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월16:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화16:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수16:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목16:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금16:00" ></td>
            </tr>
            <tr>
                <th class="hour">17:00</th>
                <td class="class"><input type="checkbox" name="nontime" value="월17:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="화17:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="수17:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="목17:00" ></th>
                <td class="class"><input type="checkbox" name="nontime" value="금17:00" ></td>
            </tr>
        </tbody>
    </table>
    <!-- <script src="{% static 'js/timetable.js' %}"></script> -->
</body>