<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/options.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' type-image/x-icon %}">
  <title>SKKU Auto Timetable Generator v0.1</title>
</head>

<body>
  <div class="site-wrap">
    <nav class="site-nav">
      <div class="name">Pepper</div>
      <ul>
        <li class="active">
          <a href="#">Deals</a>
          <ul>
            <li><a href="#0">Create New Deal</a></li>
            <li><a href="#0">Modify Deal</a></li>
            <li><a href="#0">Pipeline</a></li>
          </ul>
        </li>
        <li><a href="#0">Activities</a></li>
        <li><a href="#0">Asset Libraries</a></li>
        <li><a href="#0">Funds</a></li>
        <li><a href="#0">Investors</a></li>
        <li><a href="#0">Reports</a></li>
      </ul>
    
      <div class="note">
        <h3>Your Monthly Report</h3>
        <p>Get the info about all your deals, pros, cons. And build your roadmap.</p>
      </div>
    </nav>
    <main>
      <header>
        <div class="breadcrumbs"><a href="#0/">Home</a></div>
        <h1 class="title">Pipeline</h1>
        <nav class="nav-tabs">
          <a href="#0" class="active">Deals<span>14</span></a>
          <a href="#0">Library<span>24</span></a>
          <a href="#0">Search Library</a>
        </nav>
      </header>

    </main>
  </div>
</body>