<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/timetable.css' %}">
</head>

<body>
    <div class="timetable_wrapper">
        <div class="day time">
            <div class="day_title">&nbsp</div>
            <div class="box">9:00</div>
            <div class="box">09:45</div>
            <div class="box boxBreak">10:30</div>
            <div class="box">10:50</div>
            <div class="box">11:35</div>
            <div class="box boxLunch">12:20</div>
            <div class="box">13:10</div>
            <div class="box">13:55</div>
            <div class="box boxBreak2">&nbsp</div>
            <div class="box">14:45</div>
            <div class="box">15:30</div>
          </div>
          <div class='days'>
            <div class="day monday">
              <div class="day_title">Monday</div>
              <div class="p1">
                <div class="class red">English</div>
              </div>
              <div class="p2">
                <div class="class blue">Chemistry</div>
              </div>
              <div class="break">
              </div>
              <div class="p3">
                <div class="class grey">Sport</div>
              </div>
              <div class="p4">
              </div>
              <div class="lunch"></div>
              <div class="p5">
                <div class="class orange">Music</div>
              </div>
              <div class="p6">
                <div class="class yellow">Tutor</div>
              </div>
              <div class="break2">
              </div>
              <div class="p7">
                <div class="class green">Maths</div>
              </div>
              <div class="p8">
                <div class="class green">Maths</div>
              </div>
            </div>
          
            <div class="day tuesday">
              <div class="day_title">Tuesday</div>
              <div class="p1">
                <div class="class green">Maths</div>
              </div>
              <div class="p2">
              </div>
              <div class="break">
              </div>
              <div class="p3">
              </div>
              <div class="p4">
                <div class="class blue">Physics</div>
              </div>
              <div class="lunch"></div>
              <div class="p5">
              </div>
              <div class="p6">
                <div class="class red">English</div>
                <div class="class blue">English</div>
              </div>
              <div class="break2">
              </div>
              <div class="p7">
              </div>
              <div class="p8">
              </div>
            </div>
          
            <div class="day wednesday">
              <div class="day_title">Wednesday</div>
              <div class="p1">
              </div>
              <div class="p2">
                <div class="class blue">Physics</div>
              </div>
              <div class="break">
              </div>
              <div class="p3">
                <div class="class blue">Chemistry</div>
              </div>
              <div class="p4">
              </div>
              <div class="lunch"></div>
              <div class="p5">
                <div class="class grey">Sport</div>
              </div>
              <div class="p6">
              </div>
              <div class="break2">
              </div>
              <div class="p7">
              </div>
              <div class="p8">
              </div>
            </div>
          
            <div class="day thursday">
              <div class="day_title">Thursday</div>
              <div class="p1">
              </div>
              <div class="p2">
              </div>
              <div class="break">
              </div>
              <div class="p3">
              </div>
              <div class="p4">
                <div class="class short green">Maths</div>
              </div>
              <div class="lunch"></div>
              <div class="p5">
                <div class="class orange">Music</div>
              </div>
              <div class="p6">
                <div class="class short yellow">FS</div>
              </div>
              <div class="break2">
              </div>
              <div class="p7">
              </div>
              <div class="p8">
              </div>
            </div>
          
            <div class="day friday">
              <div class="day_title">Friday</div>
              <div class="p1">
                <div class="class red">English</div>
              </div>
              <div class="p2">
                <div class="class red">English</div>
              </div>
              <div class="break">
              </div>
              <div class="p3">
                <div class="class green">Maths</div>
              </div>
              <div class="p4">
              </div>
              <div class="lunch"></div>
              <div class="p5">
              </div>
              <div class="p6">
              </div>
              <div class="break2">
              </div>
              <div class="p7">
              </div>
              <div class="p8">
              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/timetable.js' %}"></script>
</body>